{% extends 'base.html' %}
{% load static %}
{% block title %}
CS Vinay Pandey || About us
{% endblock %}
{% block content %}
<section class="pb-4">

    <div class="container text-center text-md-left">
        <div class="row mb-2 pt-2 pb-3 justify-content-center">
            <div class="text-white p-2 text-center rounded" style="background: #334237;">
                <div class="display-2 mt-5">About Us</div>
                <div class="text-left pl-3 mt-4 text-center">
                    <h2>Vision: - “Creation of wealth through legal route”</h2>
                    <p>Mission: - “Make more efficient entrepreneurs towards the creation of their
                        Wealth through good Compliance practices”.</p>
                </div>

            </div>
            <div class="col-md-6 col-lg-6 mx-auto">
                <img src="{% static 'image/img9.jpg' %}" alt="ASD" class="img-fluid rounded mt-3" data-aos="fade-right"
                    data-aos-delay="500">
            </div>
            <div class="col-md-6 col-lg-6 mt-5  pb-5 pt-5 mr-auto rounded" data-aos="zoom-in-up" data-aos-delay="100">
                <h1>Namaste !,</h1>
                <div class="display-3"><span>I'm</span> Vinay Pandey</div>
                <p class="mt-3"><span class="bold">CS Vinay Pandey & Associates,( Company Secretaries ) </span> <br><br>
                    "Creation of wealth through legal route."</p>
                <div class="mt-3 pt-4">
                    <a href="https://www.facebook.com/profile.php?id=100008140506566" class="btn shadow-lg"><i
                            class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/abhhishek_17/" class="btn shadow-lg"><i
                            class="fab fa-instagram"></i></a>
                    <a href="https://www.youtube.com/channel/UCSwcO46fZINr7ybEHtOjjVQ" class="btn shadow-lg"><i
                            class="fab fa-youtube"></i></a>
                    <a href="https://github.com/Abhisekpndy17" class="btn shadow-lg"><i class="fab fa-github"></i></a>
                    <a href="https://twitter.com/IimtAbhishek" class="btn shadow-lg"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>

        <div class="mt-1 justify-content-center">
            <div class="display-3">Introduction</div>
            <p class="p-4"> The firm “CS Vinay Pandey & Associates” Company Secretaries was set up in the year 2019 by
                CS
                Vinay Pandey who has more than four years of experience in the profession. CS Vinay Pandey is a
                qualified
                Company Secretary and Associate member of Institute of Company Secretaries of India. He is also a Law
                Graduate
                (LLB) from VBSPU, Jaunpur.</p>
            <p class="p-1"> He is a full-time practicing Company Secretary based in Delhi and rendering
                services
                on PAN India basis. Earlier, he was working with a Corporate for last 4 years. He has completed his
                internship
                from Ansal Housing & Construction Ltd. (Real Estate, NSE & BSE Listed Company) and has over four years
                of
                experience working in Corporates.</p>
            <p class="p-1"> He is also co-founder of TP Films LLP (a film producing Company).
                He is also visiting faculty of Professional Study Point and providing strategic study planning to CS
                Professional and CS Executive programmes students for the following subjects: Financial and Strategic
                Management (CS Executive New Syllabus) Company Law (CS Executive & Professional) Tax Laws (CS Executive
                &
                Professional) Corporate Restructuring, Insolvency, Liquidation & Winding-up (CS Professional New
                Syllabus)
                Financial, Treasury & Forex Management (CS Professional Old Syllabus)</p>
        </div>

        <!--end card-->
    </div>
</section>
{% endblock %}