{% extends 'base.html' %}

{% load static %}
{% block title %}
CS Vinay Pandey
{% endblock %}
{% block content %}
<section>
  <div class="container">
    <!-- layout-->
    <div class="row mt-2 mb-2 pt-2 pb-3 justify-content-center">

      <div class="col-md-6 col-lg-6 mx-auto">
        <img src="{% static 'image/start.png' %}" alt="ASD" class="img-fluid" data-aos="fade-right" data-aos-delay="500">
      </div>
      <div class="col-md-6 col-lg-6 mt-5  pb-5 pt-5 mr-auto rounded" data-aos="zoom-in-up" data-aos-delay="100">
        <h1>Namaste !,</h1>
        <div class="display-3"><span>I'm</span> Vinay Pandey</div>
        <p class="mt-3"><span class="bold">CS Vinay Pandey & Associates,( Company Secretaries ) </span> <br><br>
          "Creation of wealth through legal route."</p>
        <div class="mt-3 pt-4">
          <a href="https://www.facebook.com/profile.php?id=100008140506566" class="btn shadow-lg"><i
              class="fab fa-facebook-f"></i></a>
          <a href="https://www.instagram.com/abhhishek_17/" class="btn shadow-lg"><i class="fab fa-instagram"></i></a>
          <a href="https://www.youtube.com/channel/UCSwcO46fZINr7ybEHtOjjVQ" class="btn shadow-lg"><i
              class="fab fa-youtube"></i></a>
          <a href="https://github.com/Abhisekpndy17" class="btn shadow-lg"><i class="fab fa-github"></i></a>
          <a href="https://twitter.com/IimtAbhishek" class="btn shadow-lg"><i class="fab fa-twitter"></i></a>
        </div>
      </div>
    </div>
    <!--end layout-->
    <!--card-->
    <div class="row mt-5">
      <div class="col-md-4" data-aos="zoom-in-up" data-aos-delay="100">
        <div class="card shadow-lg">
          <img src="{% static 'image/start.png' %}" alt="" class="card-img-top">
          <div class="card-body">
            <h3 class="card-title">Start Up</h3>
            <p class="card-text">Incorporation of Private Limited/LLPs/Partnership Firm/Section 8
              Company/NIDHI Company/Producer Company etc.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4" data-aos="zoom-in-up" data-aos-delay="100">
        <div class="card shadow-lg">
          <img src="{% static 'image/img1.png' %}" alt="" class="card-img-top">
          <div class="card-body">
            <h3 class="card-title">SEBI & RBI Compliences</h3>
            <p class="card-text">Consultant in SEBI Regulations and FEMA
              provisions. </p>
          </div>
        </div>
      </div>
      <div class="col-md-4" data-aos="zoom-in-up" data-aos-delay="100">
        <div class="card shadow-lg">
          <img src="{% static 'image/img5.png' %}" alt="" class="card-img-top">
          <div class="card-body">
            <h3 class="card-title">Tax Planning & Tax Management</h3>
            <p class="card-text"> Consultant of Income Tax Returns
              filing, Tax planning and Tax Management</p>
          </div>
        </div>
      </div>
    </div>
    <!--end card-->
    <div class="row mt-5">
      <div class="col-md-4" data-aos="zoom-in-up" data-aos-delay="300">
        <div class="card shadow-lg">
          <img src="{% static 'image/img2.png' %}" alt="" class="card-img-top">
          <div class="card-body">
            <h3 class="card-title">MCA, ROC, GST & Income Tax Compliances</h3>
            <p class="card-text">: Compliances of Income
              Tax Act, 1961, Companies Act, 2013 and Goods & Service Tax Act, 2017 and
              other Corporate Laws.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4" data-aos="zoom-in-up" data-aos-delay="300">
        <div class="card shadow-lg">
          <img src="{% static 'image/img2.png' %}" alt="" class="card-img-top">
          <div class="card-body">
            <h3 class="card-title">IPR Related Services</h3>
            <p class="card-text">Deals with the registration of Trademarks, Copy
              Rights, draft replies to the objections raised by the department, appear for
              hearings pertaining to the disputes related to Trademarks & Copyrights and
              make further appeals, if required.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4" data-aos="zoom-in-up" data-aos-delay="100">
        <div class="card shadow-lg">
          <img src="{% static 'image/img5.png' %}" alt="" class="card-img-top">
          <div class="card-body">
            <h3 class="card-title">Labour Law Compliences</h3>
            <p class="card-text">Deals with compliances of Labour Laws
              including services of PF, ESIC Registration and Returns.</p>
          </div>
        </div>
      </div>
    </div>
    <!--end card-->
    <div class="card mt-3 shadow rounded">
      <div class="card-body mt-3 mb-3">
        <b> Others: </b>Deals with the matters of NCLT/NCLAT, acts as legal counsel under
        IBC, 2016 etc.
      </div>
    </div>
    <!--end card-->
    {% include 'testimonial.html' %}
    <!--about-->
    
    <!--endabout-->
  </div>
</section>

{% endblock %}