{% extends 'base.html' %}
{% load static %}
{% block title %}
CS Vinay Pandey || IRE Related
{% endblock %}
{% block content %}
<section class="pb-4">

    <div class="container text-center text-md-left">
        <div class="row mb-2 pt-2 pb-3 justify-content-center">
            <div class="text-white p-2 text-center rounded" style="background: #334237;">
                <div class="display-2 mt-5">IRE Related </div>
                <div class="text-left pl-3 mt-4 text-center">
                    <h2>Vision: - “Creation of wealth through legal route”</h2>
                    <p>Mission: - “Make more efficient entrepreneurs towards the creation of their
                        Wealth through good Compliance practices”.</p>
                </div>
            </div>
            <div class="card shadow-lg" data-aos="zoom-in-up" data-aos-delay="100">
                <div class="card-header bg-dark text-white">
                    Drafting Under Corporate Laws
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Drafting of Business Agreements</li>
                    <li class="list-group-item">Drafting of Joint Venture Agreements</li>
                    <li class="list-group-item">Drafting of petitions relating of Corporate Laws</li>
                    <li class="list-group-item">Notices, Agenda, Minutes of Board Meetings & General Meetings.</li>

                </ul>
                <div class="card-header bg-dark text-white mt-3">
                    IPR(Intellectual Property Rights)
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Registration of Trademark</li>
                    <li class="list-group-item">Copyright Registration</li>
                    <li class="list-group-item">Patent Registration</li>
                    <li class="list-group-item">Reply of objection of Trademark</li>
                    <li class="list-group-item">Objection of Copyrights</li>
                    <li class="list-group-item">Litigation and Hearing of IPR</li>
                </ul>
            </div>
        </div>
        <!--end card-->
    </div>
</section>
{% endblock %}