{% extends 'base.html' %}
{% load static %}
{% block title %}
CS Vinay Pandey || Labour
{% endblock %}
{% block content %}
<section class="pb-4">

    <div class="container text-center text-md-left">
        <div class="row mb-2 pt-2 pb-3 justify-content-center">
            <div class="text-white p-2 text-center rounded" style="background: #334237;">
                <div class="display-2 mt-5">Labour </div>
                <div class="text-left pl-3 mt-4 text-center">
                    <h2>Vision: - “Creation of wealth through legal route”</h2>
                    <p>Mission: - “Make more efficient entrepreneurs towards the creation of their
                        Wealth through good Compliance practices”.</p>
                </div>
            </div>
        </div>
        <!--end card-->
    </div>
</section>
{% endblock %}