{% extends 'base.html' %}
{% load static %}
{% block title %}
CS Vinay Pandey || Start UP
{% endblock %}
{% block content %}
<section class="pb-4">

    <div class="container text-center text-md-left">
        <div class="row mb-2 pt-2 pb-3 justify-content-center">
            <div class="text-white p-2 text-center rounded" style="background: #334237;">
                <div class="display-2 mt-5">Start UP </div>
            </div>
            <div class="card shadow-lg" data-aos="zoom-in-up" data-aos-delay="100">
                <div class="card-header bg-dark text-white">
                    Start-ups
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Incorporation of Private Limited Company</li>
                    <li class="list-group-item">Incorporation of Public Company</li>
                    <li class="list-group-item">Registration of LLPs</li>
                    <li class="list-group-item">Registration of Partnership Firm</li>
                    <li class="list-group-item">Proprietorship Firm Registration </li>
                    <li class="list-group-item">Registration of Trust/NGO</li>
                    <li class="list-group-item">Registration of Societies </li>
                    <li class="list-group-item">Formation of Section 8 Company </li>
                    <li class="list-group-item">Incorporation of Producer Company</li>
                    <li class="list-group-item">Formation of NIDHI Company</li>
                    <li class="list-group-item">Registration and Licensing of NBFC
                        (Non-Banking Financing Companies)</li>
                </ul>
            </div>
        </div>
        <!--end card-->
    </div>
</section>
{% endblock %}