<footer class=" text-white pt-5 pb-4" style="background: #334237;">
    <div class="container text-center text-md-left">
        <div class="row text-center text-md-left">
            <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-3" data-aos="zoom-in-up" data-aos-delay="300">
                <h4 class="text-uppercase mb-4 font-weight-bold text-warning">CS Vinay Pandey
                    (CS, LLB, B.Com)
                    </h4>
                <p>The firm “CS Vinay Pandey & Associates” Company
                    Secretaries was set up in the year 2019 by CS Vinay Pandey who has more than
                    four years of experience in the profession. Qualified
                    Company Secretary and Associate member of Institute of Company Secretaries
                    of India, (LLB) from VBSPU, Jaunpur, fulltime practicing Company Secretary based in Delhi and rendering services on
                    PAN India basis. He is also co-founder of TP Films LLP (a film
                    producing Company)</p>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3" data-aos="zoom-in-up" data-aos-delay="300">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Connect On</h5>
                <p><a href="https://www.facebook.com/profile.php?id=100008140506566" class="text-white" style="text-decoration: none;"><i
                            class="fab fa-facebook-square mr-3"></i>Facebook</a></p>
                <p><a href="https://www.youtube.com/channel/UCSwcO46fZINr7ybEHtOjjVQ" class="text-white" style="text-decoration: none;"><i
                            class="fab fa-youtube mr-3"></i>YouTube</a></p>
                <p><a href="https://www.instagram.com/abhhishek_17/" class="text-white" style="text-decoration: none;"><i
                            class="fab fa-instagram mr-3"></i>Instagram</a></p>
                <p><a href="https://twitter.com/IimtAbhishek" class="text-white" style="text-decoration: none;"><i
                            class="fab fa-twitter mr-3"></i>Twitter</a></p>
                <p><a href="https://github.com/Abhisekpndy17" class="text-white" style="text-decoration: none;"><i
                                class="fab fa-instagram mr-3"></i>Github</a></p>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3" data-aos="zoom-in-up" data-aos-delay="300">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Contact Us</h5>
                <p><i class="fas fa-home mr-3"></i>Head Office: D-455 Palam Extn,
                    Dwarka Sector-7, New Delhi-110075</p>
                <p><i class="fas fa-envelope mr-3"></i> CS.Vinaypandey@gmail.com</p>
                <p><i class="fas fa-phone mr-3"></i>+91 8920574428</p>
                <p><i class="fab fa-whatsapp mr-3"></i>+91 9911473074</p>
            </div>
        </div>
        <hr>
        <div class="row text-center text-md-left">
            <div class="col-md-6 col-lg-6 col-xl-6 mx-auto mt-3">
                &copy;copyright 2020
            </div>
            <div class="col-md-6 col-lg-6 col-xl-6 mx-auto mt-5" >
                <p class="text-muted text-md-right mb-0"><sub>Design &</sub> Developed By <sup>Abhishek Pandey</sup></p>
            </div>
        </div>
    </div>
</footer>