{% load static %}
<section>
    <div class="row mt-5">
        <div class="pb-3 text-center rounded text-white mb-4 pt-2" style="background: #334237;"> <strong>
                <div class="display-3">List of our services</div>
            </strong>
            <p>We are rendering the following services at reasonable prices on PAN India basis</p>
        </div>
        <div class="col-md-4">
            <div class="card shadow-lg" data-aos="zoom-in-up" data-aos-delay="100">
                <div class="card-header bg-dark text-white">
                    Start-ups
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Incorporation of Private Limited Company</li>
                    <li class="list-group-item">Incorporation of Public Company</li>
                    <li class="list-group-item">Registration of LLPs</li>
                    <li class="list-group-item">Registration of Partnership Firm</li>
                    <li class="list-group-item">Proprietorship Firm Registration </li>
                    <li class="list-group-item">Registration of Trust/NGO</li>
                    <li class="list-group-item">Registration of Societies </li>
                    <li class="list-group-item">Formation of Section 8 Company </li>
                    <li class="list-group-item">Incorporation of Producer Company</li>
                    <li class="list-group-item">Formation of NIDHI Company</li>
                    <li class="list-group-item">Registration and Licensing of NBFC
                        (Non-Banking Financing Companies)</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow-lg" data-aos="zoom-in-up" data-aos-delay="100">
                <div class="card-header bg-dark text-white">
                    Other Corporate Laws Consulting Services
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Related Party Transactions (Section 188)</li>
                    <li class="list-group-item">Consultancy on Managerial Remuneration and CG approvals in that matters
                        (Section 196)</li>
                    <li class="list-group-item">Incorporate Loans, Investment, Guarantee and Securities (Section 186)
                    </li>
                    <li class="list-group-item">Consultancy on Deposits (Section 73 to 76)</li>
                    <li class="list-group-item">Transfer and Transmission of Shares</li>
                    <li class="list-group-item">Stamping on Shares</li>
                    <li class="list-group-item">CSR Activities (Section 135)</li>
                    <li class="list-group-item">SEBI Listing Matters</li>
                    <li class="list-group-item">RBI & FEMA Compliances and Consultancy</li>
                    <li class="list-group-item">Consultancy of Merger and Takeover</li>
                    <li class="list-group-item">Consultancy on Dividends Matters</li>
                    <li class="list-group-item">Matters related to the IEPF (Investor Education & Protection Funds)</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow-lg" data-aos="zoom-in-up" data-aos-delay="100">
                <div class="card-header bg-dark text-white">
                    Other Registrations
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">PF Registration</li>
                    <li class="list-group-item">ESIC Registration</li>
                    <li class="list-group-item">GST Registration</li>
                    <li class="list-group-item">FSSAI Registration</li>
                    <li class="list-group-item">MSME Registration </li>
                    <li class="list-group-item">Start-up India Registration</li>
                    <li class="list-group-item">Section 12 A & 80 G Registration of NGOs</li>
                    <li class="list-group-item">Shop & Establishment Act Registration</li>
                    <li class="list-group-item">Professional Tax Registration</li>
                    <li class="list-group-item">RERA Registration</li>
                    <li class="list-group-item">Niti Aayog Registration of NGOs
                        (NGO Darpan Registration)</li>
                </ul>
            </div>
            <br>
        </div>
        <div class="col-md-4">
            <div class="card shadow-lg" data-aos="zoom-in-up" data-aos-delay="100">
                <div class="card-header bg-dark text-white">
                    Licensing & Compliances
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">FSSAI Central/State Licenses</li>
                    <li class="list-group-item">Health Trade Licenses</li>
                    <li class="list-group-item">Trade Licenses</li>
                    <li class="list-group-item">Import and Export Code License</li>
                    <li class="list-group-item">ROC (Registrar of Companies) Compliances</li>
                    <li class="list-group-item">Income Tax Filing</li>
                    <li class="list-group-item">GST Filing</li>
                    <li class="list-group-item">GST Audit</li>
                    <li class="list-group-item">Statutory Audit</li>
                    <li class="list-group-item">Tax Audit</li>
                    <li class="list-group-item">Labour Law Compliances</li>
                    <li class="list-group-item">Secretarial Audit</li>
                    <li class="list-group-item">Due-diligence Report</li>

                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow-lg" data-aos="zoom-in-up" data-aos-delay="100">
                <div class="card-header bg-dark text-white">
                    Tribunal & Court Practices
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">NCLTs/NCLAT</li>
                    <li class="list-group-item">ITAT (Income Tax Appellate Tribunal)</li>
                    <li class="list-group-item">IBC, 2016 Litigation Services</li>
                </ul>
                <div class="card-header bg-dark text-white mt-3">
                    Accounting, Bookkeeping & Digital Signature Services
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Services related to day to day Accounting</li>
                    <li class="list-group-item">Bookkeeping</li>
                    <li class="list-group-item">Reconciliation of Accounting</li>
                    <li class="list-group-item">Finalisation of Balance Sheet</li>
                    <li class="list-group-item">Class 2 DSC-Individual</li>
                    <li class="list-group-item">Class 3 DSC-Individual</li>
                    <li class="list-group-item">DSC Tokens</li>
                    <li class="list-group-item">DGFT DSCs</li>
                    <li class="list-group-item">Class 2 Organisation DSC</li>
                    <li class="list-group-item">Class 3 Organisation DSC</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow-lg" data-aos="zoom-in-up" data-aos-delay="100">
                <div class="card-header bg-dark text-white">
                    Drafting Under Corporate Laws
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Drafting of Business Agreements</li>
                    <li class="list-group-item">Drafting of Joint Venture Agreements</li>
                    <li class="list-group-item">Drafting of petitions relating of Corporate Laws</li>
                    <li class="list-group-item">Notices, Agenda, Minutes of Board Meetings & General Meetings.</li>

                </ul>
                <div class="card-header bg-dark text-white mt-3">
                    IPR(Intellectual Property Rights)
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Registration of Trademark</li>
                    <li class="list-group-item">Copyright Registration</li>
                    <li class="list-group-item">Patent Registration</li>
                    <li class="list-group-item">Reply of objection of Trademark</li>
                    <li class="list-group-item">Objection of Copyrights</li>
                    <li class="list-group-item">Litigation and Hearing of IPR</li>
                </ul>
            </div>
        </div>
    </div>
    {% include 'testimonial.html' %}
</section>