{% extends 'base.html' %}

{% block title %}
{{post.title}}
{% endblock  %}
{% block content %}
<section class="pt-5 pb-4">
    <div class="container text-md-left">
        <div class="row text-center text-md-left">
            <div class="col-md-10 col-lg-10 col-xl-10 mx-auto mt-3" data-aos="zoom-in" data-aos-delay="100">

                <section class="mb-3 pb-3">
                    <h3 class="fw-bold"><i class="fas fa-book-reader"></i> {{post.title}}</h3>
                    <p class="text-muted">Posted at <i class="fas fa-calendar-week"></i> {{post.date_added}}</p>
                    <blockquote class="blockquote mb-0">
                      <p class="font-monospace text-muted"><i class="fab fa-battle-net"></i>{{post.intro | safe }}</p>
                      <i class="fab fa-battle-net"></i>
                      <p class="fw-light">{{post.body | safe }}</p>
                    </blockquote>
                    <hr>
                  </section>
                
            </div>
            
        </div>
    </div>
</section>
{% endblock  %}