@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.card img{
    height: 100%;
    width: 50%;
    margin: 0px auto;
}

